{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Registrar Nuevo Caso</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.dni.label }} {{ form.dni(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.nombre.label }} {{ form.nombre(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.apellido.label }} {{ form.apellido(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.fecha_nacimiento.label }} {{ form.fecha_nacimiento(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.edad.label }} {{ form.edad(class="form-control", readonly="readonly") }}
        </div>
        <div class="form-group">
            {{ form.sexo.label }} {{ form.sexo(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.calle.label }} {{ form.calle(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.numero.label }} {{ form.numero(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.barrio.label }} {{ form.barrio(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.localidad.label }} {{ form.localidad(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.departamento.label }} {{ form.departamento(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.codigo_postal.label }} {{ form.codigo_postal(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.telefono.label }} {{ form.telefono(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.correo.label }} {{ form.correo(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.grupo.label }} {{ form.grupo(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.ingresa_con_vida.label }} {{ form.ingresa_con_vida(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
{% endblock %}
